{% extends 'base.html' %}

{% block title %}
  VacansyList
{% endblock title %}


{% block content %}




    {% for post in object_list %}

          <div class="row mt-2">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title post-entry"><a href="{% url 'main:vacancydetail' post.pk %}">{{post.country}} </a></h3>
                    <p class="card-text stp">{{ post.salary }}</p>
                  </div>
                </div>
              </div>
            </div>

    {% endfor %}



{% endblock content %}

