{% extends 'base.html' %}

{% block title %}
  Home
{% endblock title %}


{% block content %}
    <!-- Navbar Start -->
    <nav class="shadow navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">HOME</a>

          <div class="collapse navbar-collapse" id="navbarContent">



              {% if request.user.is_authenticated %}

                    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                    <a href="{% url 'users:pch' %}" class="btn btn-primary">Password Change</a>

              {% else %}

                      <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                      <a href="{% url 'users:signup' %}" class="btn btn-primary">SignUp</a>


              {% endif %}

          </div>
        </div>
    </nav>
    <!-- Navbar End -->
<!--        <ul class="nav nav-pills">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">User</a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--              <li><hr class="dropdown-divider"></li>-->
<!--              <li><a class="dropdown-item" href="#">Separated link</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Link</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--          </li>-->
<!--        </ul>-->

    <div class="container">
      {% if messages %}
        <div style="z-index: 312;" class="shadow-sm position-fixed end-0 bottom-0 mt-4">
          {% for message in messages  %}
            <div style="width: 20rem; opacity:0.9 " class=" m-3 alert alert-{{message.tags}}" role="alert">
               {{message}}
            </div>
            {% endfor %}
        </div>
      {% endif %}
    </div>



{% endblock content %}

